NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dsxmnkxxl
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=xyeem
NEXT_PUBLIC_CLOUDINARY_FOLDER=mango-mania/products
CLOUDINARY_CLOUD_NAME=dsxmnkxxl
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=mango-mania/products
# MONGODB_URI=mongodb://localhost:27017/mangoMania
MONGODB_URI=mongodb+srv://mern:zaeemzaeem@cluster0.ujysw.mongodb.net/?mangoMania=Cluster0
MONGODB_DB=mango-mania
