NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dsxmnkxxl
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=xyeem
NEXT_PUBLIC_CLOUDINARY_FOLDER=mango-mania/products
CLOUDINARY_CLOUD_NAME=dsxmnkxxl
CLOUDINARY_API_KEY=582149675794356
CLOUDINARY_API_SECRET=TVKaEop4qAj6nYcuwes-6Ke2_xI
CLOUDINARY_FOLDER=mango-mania/products
